{% extends 'base.html.twig' %}

{% block nav %}
        {{ include('partial/_orm_nav.html.twig') }}
        <a class="nav-link" href="{{ path('orm') }}">xORMuuuuuuuuu</a>
{% endblock %}

{% block body %}
    <h1>SHOW</h1>

    count: {{ products|length }}

    <div class="container">
        {% for product in products %}
            <div class="row">
                <div class="col-sm-2">
                    {{ product.name }}
                </div>
                <div class="col-sm-1">
                    {{ product.price }}
                </div>
                <div class="col-sm-9">
                    {{ product.description }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock body %}